<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bookmark</key>
		<data>
		Ym9va7wEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAArAMAAAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAEFzaHdpbmlTaGFsa2UA
		AAAHAAAAAQEAAExpYnJhcnkAEAAAAAEBAABNb2JpbGUgRG9jdW1lbnRzJAAA
		AAEBAABXVUdNWlo1SzQ2fmNvbX5ib2hlbWlhbmNvZGluZ35za2V0Y2gJAAAA
		AQEAAERvY3VtZW50cwAAAA8AAAABAQAAVW50aXRsZWQuc2tldGNoABwAAAAB
		BgAABAAAABQAAAAsAAAAPAAAAFQAAACAAAAAlAAAAAgAAAAEAwAAedEJAAAA
		AAAIAAAABAMAAB6IDwAAAAAACAAAAAQDAAAfiA8AAAAAAAgAAAAEAwAASZgP
		AAAAAAAIAAAABAMAAPe7YgAAAAAACAAAAAQDAAD5u2IAAAAAAAgAAAAEAwAA
		uFCZAAAAAAAcAAAAAQYAANAAAADgAAAA8AAAAAABAAAQAQAAIAEAADABAAAI
		AAAAAAQAAEHB1QSCDcNKGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAA
		AAAIAAAABAMAAAUAAAAAAAAABAAAAAMDAAD2AQAACAAAAAEJAABmaWxlOi8v
		LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAYEZkOgAAAAgAAAAABAAA
		QcGwqtKeJzskAAAAAQEAAEFGNjk2NTczLTJBNTktNEEyQy05RjE4LTVBQjcy
		MjkxOTA3MRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
		AAAvAAAAAAAAAAEFAAAaAAAAAQEAAE5TVVJMRG9jdW1lbnRJZGVudGlmaWVy
		S2V5AAAEAAAAAwMAABswAAAeAQAAAQIAADk1YTA5ODRlNWEwMmM3NDQ5MDk1
		Yjc4MzZhMTc3YWU3MmIyNDFjMTg4YThhMmJhY2RmYWZiZDU3ZjdkM2JkODg7
		MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAy
		MDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTswMTswMTAwMDAw
		NDswMDAwMDAwMDAwOTk1MGI4OzAxOy91c2Vycy9hc2h3aW5pc2hhbGtlL2xp
		YnJhcnkvbW9iaWxlIGRvY3VtZW50cy93dWdteno1azQ2fmNvbX5ib2hlbWlh
		bmNvZGluZ35za2V0Y2gvZG9jdW1lbnRzL3VudGl0bGVkLnNrZXRjaAAAANgA
		AAD+////AQAAAAAAAAARAAAABBAAAKwAAAAAAAAABRAAAEABAAAAAAAAEBAA
		AHQBAAAAAAAAQBAAAGQBAAAAAAAAAiAAAEACAAAAAAAABSAAALABAAAAAAAA
		ECAAAMABAAAAAAAAESAAAPQBAAAAAAAAEiAAANQBAAAAAAAAEyAAAOQBAAAA
		AAAAICAAACACAAAAAAAAMCAAAEwCAAAAAAAAAcAAAJQBAAAAAAAAEcAAABQA
		AAAAAAAAEsAAAKQBAAAAAAAAgPAAAIQCAAAAAAAAVAIAgHgCAAAAAAAA
		</data>
		<key>displayName</key>
		<string>Untitled</string>
		<key>modificationDate</key>
		<date>2019-12-18T07:13:08Z</date>
		<key>recordDate</key>
		<date>2019-12-18T07:13:08Z</date>
	</dict>
</array>
</plist>
